<!--_meta 作为公共模版分离出去-->
{include file="public/meta" /}
<body>
<!--_header 作为公共模版分离出去-->
{include file="public/head" /}
<div class="mainbody" style="background-color: #e0e6cc;margin-top: -27px;">
    <div class="container ui-sortable">
        <div class="panel panel-default" style="margin-top: 64px;">
            <div class="panel-header top">
                <div class="headerlist" style="margin-left: 378px;">
                    <img style="width: 129px;height: 121px;"
                         src="__STATIC__/image/{:session('other_info.name')}/{:session('other_info.photo')}" alt="" class="round">

                    <br>
                    <p style="margin-left: 25px;  margin-top: -4px;  font-size: 26px;"><u>{:session('other_info.name')}</u></p>
                    <p  style="margin-top: -4px;  font-size: 16px;text-align: center;margin-left: -462px; ">{:session('user_info.introduction')}</p>
                    <button  id="attentionbtn" onclick="attentionClick()" class="btn btn-warning radius" style="margin-left: 24px"></button>
                </div>
            </div>
            <div class="panel-body">
                <div id="tab" class="HuiTab">
                    <div class="tabBar clearfix"><span style="width: 87px;padding-left: 238px;">他的主页</span><span style="width: 165px;padding-left: 221px;">他的相册</span></div>
                    <div class="tabCon">
                        <div class="col-lg-12">
                            <div class="panel share" style="background-color: rgba(240, 248, 255, 0.36);">
                                <span class="select-box" style="height: 49px;margin-top: 5px; width: 139px; font-size: 22px;">
                                     <select class="select" size="1" name="demo1" style="font-size: 17px; font-family: -webkit-body;">
                                         <option value="1" selected>全部动态</option>
                                     </select>
                                </span>
                                <div id="usercenter" class="hui-fadeinR" style="display:block;overflow-y: auto;height: 743px;background-color: #fff;margin-top: 20px; min-width: 614px">

                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tabCon">
                        <div class="col-lg-12">
                            <div class="panel share">
                                <div class="panel-header share">
                                    <button class="btn btn-primary-outline radius size-L hui-fadeinL"
                                            onclick="addalbumlist()">全部相册
                                    </button>

                                </div>
                                <div class="panel-body">
                                    <div id="albumcenter" class="hui-fadeinR"
                                         style="overflow-y: auto;height: 743px;display:block;background-color: #fff;margin-top: 20px; min-width: 614px;margin-left: -15px;">
                                        <div class=" panel photosmall box-shadow">
                                            <div style="font-family: monospace;" class="panel-header small">我的相册
                                                <span style="margin-left: 253px;font-size: 2px;">创建时间:</span> <span>2015-10-10 15-10-20</span>
                                            </div>

                                            <div class="panel-body">
                                                <img style="max-width: 264px; min-height: 199px;"
                                                     src="__STATIC__/static/h-ui/images/background/personbgd.jpg" alt=""
                                                     class="thumbnail preview">
                                                <img style="max-width: 264px; min-height: 199px;"
                                                     src="__STATIC__/static/h-ui/images/background/personbgd.jpg" alt=""
                                                     class="thumbnail">

                                            </div>
                                            <div class="panel-footer text-c">
                                                <a style="margin-left: 93px" href="#">查看所有图片<i
                                                        class="arrow Hui-iconfont">&#xe6d7;</i></a>
                                            </div>
                                        </div>
                                        <div class="panel photosmall box-shadow">
                                            <div style="font-family: monospace;" class="panel-header small">家人
                                                <span style="margin-left: 253px;font-size: 2px;">创建时间:</span> <span>2015-10-10 15-10-20</span>
                                            </div>

                                            <div class="panel-body">
                                                <img style="max-width: 264px; min-height: 199px;"
                                                     src="__STATIC__/static/h-ui/images/background/personbgd.jpg" alt=""
                                                     class="thumbnail">
                                                <img style="max-width: 264px; min-height: 199px;"
                                                     src="__STATIC__/static/h-ui/images/background/personbgd.jpg" alt=""
                                                     class="thumbnail">

                                            </div>
                                            <div class="panel-footer text-c">
                                                <a style="margin-left: 93px" href="#">查看所有图片<i
                                                        class="arrow Hui-iconfont">&#xe6d7;</i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="photocenter" class="hui-fadeinR" style="overflow-y: auto;height: 743px;display:none;background-color: #fff;margin-top: 20px; min-width: 614px;margin-left: -15px;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

</div>
</div>
<!--<footer class="footer mt-20">-->
<!--<div class="container">-->
<!--<nav class="footer-nav">-->
<!--<a target="_blank" href="http://www.h-ui.net/aboutHui.shtml">关于H-ui</a>-->
<!--<span class="pipe">|</span>-->
<!--<a target="_blank" href="http://www.h-ui.net/copyright.shtml">软件著作权</a>-->
<!--<span class="pipe">|</span>-->
<!--<a target="_blank" href="http://www.h-ui.net/juanzeng.shtml">感谢捐赠</a>-->
<!--</nav>-->
<!--<p>Copyright &copy;2013-2017 H-ui.net All Rights Reserved. <br>-->
<!--<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备15015336号-1</a>-->
<!--<br>-->
<!--未经允许，禁止转载、抄袭、镜像<br>-->
<!--用心做站，做不一样的站</p>-->
<!--</div>-->
<!--</footer>-->
<!--普通弹出层-->
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/head.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/photo.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<!--/请在上方写此页面业务相关的脚本-->
{include file="public/headjs" /}
<!--关注按钮初始化-->
<script>
    $.ajax({
        type:"GET",
        url:"{:url('attention/isAttention')}",
        data:{},
        success:function (data) {
            if(data==0){
                $("#attentionbtn").append("<i class=\"Hui-iconfont\">&#xe600;</i>加关注");

            }
            else {
                $("#attentionbtn").append("取消关注");
            }
        }
    })
    function  attentionClick() {
        var temp = 1;
        if($("#attentionbtn").text()=="取消关注"){
            temp=0;
        }
        $.ajax({
            type:'POST',
            url:"{:url('attention/dealAttention')}",
            data:{"temp":temp},
            success:function (data) {
                $.Huimodalalert(data,1000);
                $("#attentionbtn").empty();
                if(temp==1){
                    $("#attentionbtn").append("取消关注");
                }
                else{
                    $("#attentionbtn").append("<i class=\"Hui-iconfont\">&#xe600;</i>加关注");
                }
            }
        })
    }
</script>
<!--相册初始化-->
<script>
    addalbumlist();
    function addalbumlist() {
        document.getElementById("albumcenter").style.display = "block";
        document.getElementById("photocenter").style.display = "none";
        var id ="{:session('other_id')}"
        $.ajax({
            type: "GET",
            url: "{:url('album/getAlbumlist')}",
            data: {"user_id":id},
            success: function (data) {
                setAlbumele(data.data);
            }
        });
    }

    function setAlbumele(data) {
        document.getElementById("albumcenter").style.display = "block";
        $("#albumcenter").empty();
        for (var i = data.length-1; i >=0; i--) {
            $("#albumcenter").append("   <div onclick=\"addphotolist(this)\" name=\""+data[i].album_name+"\" class=\"album-item col-lg-5 bk-gray radius\" >\n" +
                "                                                <div class=\"album-img\">\n" +
                "                                                    <img src=\"/static/image/"+"{:session('other_info.name')}/"+ data[i].album_photo +"\">\n" +
                "                                                </div>\n" +
                "                                                <div class=\"album-title\">" + data[i].album_name + "<span class=\"c-999\">(" + data[i].photonum + "张)</span></div>\n" +
                "                                                <div class=\"album-bg\">\n" +
                "                                                    <div class=\"album-bg-Fir\"></div>\n" +
                "                                                    <div class=\"album-bg-Sec\"></div>\n" +
                "                                                </div>\n" +
                "                                            </div>")
        }
    }
</script>
<!--照片的js-->
<script>
    addallphoto();
    function addallphoto() {
        var id = "{:session('other_id')}";
        $.ajax({
            type: "GET",
            url: "{:url('photo/getAlllist')}",
            data: {"user_id":id},
            success: function (data) {
                setPhotolist(data.data,"usercenter");
            }
        });
    }
    function addphotolist(type) {
        var obj=$(type);
        var  albumname =obj.attr("name");
        setAlbumphoto(albumname);

    }
    function setAlbumphoto(albumname) {
        var id = "{:session('other_id')}";
        $.ajax({
            type:'POST',
            url: "{:url('photo/getPlist')}",
            data:{"albumname":albumname,"user_id":id},
            success:function (data) {
                setPhotolist(data.data,"photocenter");
                document.getElementById("albumcenter").style.display = "none";
                document.getElementById("photocenter").style.display="block";
            }
        })
    }
    function setPhotolist(data,type){
        var obj;
        if(type=="photocenter")
            obj = $("#photocenter");
        else
            obj =$("#usercenter");
        obj.empty();

        for (var i = data.length-1; i>=0; i--) {
            photoadd(data[i],obj);
        }
        obj.find(".dropDown").empty();

    }
    function  toAlbum(type) {
        $("#tab").Huitab({
            index: 1
        });
        setAlbumphoto($(type).html());
    }
</script>
</body>
</html>