<div class="col-lg-4">
    <table class="tb_counter"
           style="min-height: 60px;margin-top: 28px;background-color: #FFFFFF" cellpadding="0"
           cellspacing="0">
        <tbody>
        <tr class="text-c">
            <td class="S_line1">
                <a onclick="getAttentionListbtn(this)" bpfilter="page_frame" class="t_link S_txt1"
                   ><strong
                     class="W_f18">{:session('user_info.attentionum')}
                </strong><br><span class="S_txt2">关注</span></a></td>
            <td class="S_line1">
                <a onclick="getAttentionListbtn(this)" bpfilter="page_frame" class="t_link S_txt1"
                   ><strong
                  class="W_f18">
                    {:session('user_info.fansnum')}</strong><br><span class="S_txt2">粉丝</span></a></td>
            <td class="S_line1">
                <a onclick="getAttentionListbtn(this)" bpfilter="page_frame" class="t_link S_txt1"
                  >
                    <strong   class="W_f18">{:session('user_info.sharenum')}</strong><br><span class="S_txt2">分享</span></a></td>
        </tr>
        </tbody>
    </table>
    <div class="panel small" style="min-height: 47px;">
        <button name="editor" class="btn btn-primary-outline radius"
                style="font-size: 14px;min-width: 294px;min-height: 47px;background-color: rgba(240, 248, 255, 0);;">
            编辑个人资料
        </button>
    </div>
    <div class="panel small">
        <div class="panel-header small">相册</div>
        <div  class="panel-body albumdemo">

        </div>

    </div>
</div>
<script>

</script>