<!--_meta 作为公共模版分离出去-->
{include file="public/meta" /}
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui/css/photocenter.css" />
<body>
<!--_header 作为公共模版分离出去-->

{include file="public/head" /}
<div class = "mainbody" style="background-color: #f7f7f6;margin-top: 66px;" >
    <div class="taglist">
        <p class="hottag">热门标签:</p>
        <span onclick="tagclick(this)" style="margin-left: 103px;">旅行</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">人文</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">美食</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">小清新</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">风景</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">自拍</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">婚纱</span>
        <span class="pipe">|</span>
        <span onclick="tagclick(this)">宠物</span>
        <input type="text" id="searchphoto"  placeholder="搜索您喜欢的图片" autocomplete="off">
        <span ><a class="" href="javascript:void(0);" onclick="searchClick()" >
            <img style="margin-top: 0px;margin-left: -19px;background-color: #cecfdc;" src="__STATIC__/static/h-ui/images/background/indexcarouse/banner_search.png"></a></span>

    </div>
    <div id="taginfo" class="tagphoto">
        <div  class="taginfo" >
               <span style="font-size: 41px;letter-spacing: 11px;margin-left: 11px;">人文</span>
                <span class="pipe" style="font-size: 27px;">|</span>
               <span> 用心记录下来，让更多的人感受文化和风情的魅力</span>
            <span class="f-r"><a href="#" class="btn btn-primary size-S" type="button">我要投稿</a></span>

        </div>
    </div>
    <div class="btn-group center">
        <span class="btn btn-primary radius">精选</span>
        <span class="btn btn-default radius">热门</span>
        <span class="btn btn-default radius">最新</span>
        <span class="btn btn-default radius">查看全部</span>
    </div>
    <div id="photowater" class="photowater">
        <div id="photowater0" class="water1 col-lg-1">
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter11.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;margin-left: 6px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter12.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter13.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter1.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
        </div>
        <div id="photowater1" class="water1 col-lg-4">
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter1.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter2.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter3.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter4.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>


        </div>
        <div  id="photowater2" class="water1 col-xs-8">
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter7.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter8.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter9.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>
            <div class="photo bk-gray" style="width: 300px;background-color: ghostwhite;">
                <img style="width: 100%;" src="__STATIC__/static/h-ui/images/photocenter/photocenter10.jpg" class="thumbnail">

                <div class="text-l" style="    margin-left: 9px; margin-top: 8px;">
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                          border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">小清新</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;  background-color: #f0f8ff;
                            border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">婚纱</span>
                    <span type="button" style="cursor:pointer ; margin-left: 10px;color: #290a0a;background-color: #f0f8ff;
                             border-color: #98c2ed;" class="btn btn-primary radius  size-MINI">自拍</span></div>
                <div class="text-r" style="margin-top: 5px;margin-right: 10px;">
                    <a onclick="addsharenum(5,this)" name="share" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>0</span></a>
                    <span class="pipe">|</span>
                    <a onclick="addclicknum(5,this)" name="click" style="color: rgb(65, 44, 204);"><i class="Hui-iconfont"></i><span>2</span></a>
                    <span class="pipe">|</span>
                    <a onclick="comlist(5,this)"><i class="Hui-iconfont"></i><span>0</span></a>
                </div>
                <div class="line"></div>

                <div style="height: 70px; margin-top: 6px;">
                    <img style="width: 36px;  height: 36px;" src="/static/image/admin/2017-11-06 00-10-48.jpg" alt="" class="round">
                    <a onclick="tootherinfo(1,this)"><u style="font-size: 16px;">admin</u></a>
                    <span>上传到专辑</span>
                    <span style="font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;">我的家人</span>
                    <br>
                    <span style="margin-left: 220px;margin-bottom: 15px">2017/05/05</span>
                    <br>

                </div>
            </div>

        </div>
        <div class="col-lg-12">
        <footer class="footer mt-20">
            <div class="container">
                <nav class="footer-nav">
                    <a target="_blank" href="http://www.h-ui.net/aboutHui.shtml">关于H-ui</a>
                    <span class="pipe">|</span>
                    <a target="_blank" href="http://www.h-ui.net/copyright.shtml">软件著作权</a>
                    <span class="pipe">|</span>
                    <a target="_blank" href="http://www.h-ui.net/juanzeng.shtml">感谢捐赠</a>
                </nav>
                <p>Copyright &copy;2013-2017 H-ui.net All Rights Reserved. <br>
                    <a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备15015336号-1</a>
                    <br>
                    未经允许，禁止转载、抄袭、镜像<br>
                    用心做站，做不一样的站</p>
            </div>
        </footer>
        </div>
    </div>
    <div id="modal-demo" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content radius">
                <div class="modal-header">
                    <h3 class="modal-title">图片详情</h3>
                    <a class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</a>
                </div>
                <div id="modalbody" class="modal-body">

                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
                </div>
            </div>
        </div>
    </div>

</div>






<!--普通弹出层-->

<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/head.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/jcarousellite.min.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/photo.js"></script>
<!--/_footer /作为公共模版分离出去-->
<!--初始化-->
<script type="text/javascript">

</script>
<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $("#topnavt").find("li").each(function (index) {
        $(this).removeClass("current");
        if(index==2){
            $(this).addClass("current");
        }
    })
</script>
<!--/请在上方写此页面业务相关的脚本-->
{include file="public/headjs" /}
<script>
    var photolist ;
    var url=decodeURI(location.href);
    if(url.indexOf("?")>-1) {
        var tmp1 = url.split("?")[1];
        taginfoajax(tmp1);
        ajax(tmp1);
    }

    function searchClick() {
        var name = $("#searchphoto").val();
        if (name == "") {
            $.Huimodalalert("输入为空", 1000);
        }
        else {
            ajax(name);
        }
    }
    function tagclick(type) {
       var tag = $(type).text();
        taginfoajax(tag);
       ajax(tag);

    }
    function  taginfoajax(tag) {
        $.ajax({
            type:'post',
            url:"{:url('activity/getActivityinfo')}",
            data:{"name":tag},
            async:false,
            success:function (data) {
                $("#taginfo").css("background-image","url(__STATIC__/static/h-ui/images/tagphoto/"+tag+".jpg)");
                $("#taginfo").find("span").each(function (index) {
                    if(index==0){
                        $(this).text(data.activity_name)
                    }
                    if(index==2){
                        $(this).text(data.activity_info);
                    }
                })
            }
        })
    }
    function ajax(tag) {
        $.ajax({
            type:'post',
            url:"{:url('tag/getPhotosByTag')}",
            data:{"tag":tag},
            async:false,
            success:function (data) {
                if(data.data!=0) {
                    photolist=data.data;
                    var photolist1 = photolist.sort(compare('sharenum','clicknum','commentnum'));
                    setPhotoWater(photolist1.slice(0,6));

                }
                else {
                    $.Huimodalalert("没有符合条件的图片",1000);
                }
            }
        })
    }
    function  setPhotoWater(data) {

            $("#photowater0").empty();
            $("#photowater1").empty();
            $("#photowater2").empty();
            for (var i = 0; i < data.length; i++) {
                $("#photowater"+(i%3)).append("<div class=\"photo bk-gray\" style=\"width: 300px;background-color: ghostwhite;\">\n" +
                    "                <img onclick=\"showmodal("+i+",this)\" style=\"width: 100%;\" src=\"__STATIC__/image/"+data[i].user_info.name+"/"+data[i].photo_name+"\" class=\"thumbnail\">\n" +
                    "\n" +
                    "                <div class=\"text-l\" style=\"    margin-left: 9px; margin-top: 8px;\"></div>\n" +
                    "                <div class=\"text-r\" style=\"margin-top: 5px;margin-right: 10px;\">\n" +
                    "                    <a onclick=\"addsharenum("+data[i].photo_id+",this)\" name=\"share\" style=\"color: rgb(16, 15, 24);\"><i class=\"Hui-iconfont\"></i><span>"+data[i].sharenum+"</span></a>\n" +
                    "                    <span class=\"pipe\">|</span>\n" +
                    "                    <a onclick=\"addclicknum("+data[i].photo_id+",this)\" name=\"click\" style=\"color: rgb(16, 15, 24);\"><i class=\"Hui-iconfont\"></i><span>"+data[i].clicknum+"</span></a>\n" +
                    "                    <span class=\"pipe\">|</span>\n" +
                    "                    <a onclick=\"showmodal("+i+",this)\"><i class=\"Hui-iconfont\"></i><span>"+data[i].commentnum+"</span></a>\n" +
                    "                </div>\n" +
                    "                <div class=\"line\"></div>\n" +
                    "\n" +
                    "                <div style=\"height: 70px; margin-top: 6px;\">\n" +
                    "                    <img style=\"width: 36px;  height: 36px;margin-left: 6px;\" src=\"/static/image/"+data[i].user_info.name+"/"+data[i].user_info.photo+"\" alt=\"\" class=\"round\">\n" +
                    "                    <a onclick=\"tootherinfo("+data[i].user_info.user_id+",this)\"><u style=\"font-size: 16px;\">"+data[i].user_info.name+"</u></a>\n" +
                    "                    <span>上传到专辑</span>\n" +
                    "                    <span onclick=\"tootherinfo("+data[i].user_info.user_id+",this)\" style=\"font-size: 14px;cursor: pointer;text-decoration: underline;color: #0f6265;\">"+data[i].albumname+"</span>\n" +
                    "                    <br>\n" +
                    "                    <span style=\"margin-left: 167px;margin-bottom: 15px\">"+data[i].creat_time+"</span>\n" +
                    "                    <br>\n" +
                    "\n" +
                    "                </div>\n" +
                    "            </div>");
                for(var j =0;j<data[i].taglist.length;j++) {
                    $("#photowater"+(i%3)).find(".text-l:last").append("<span type='button' style=\"cursor:pointer ; margin-left: 10px;color: #290a0a;\n" +
                        "    background-color: #f0f8ff;\n" +
                        "    border-color: #98c2ed;\" class='btn btn-primary radius  size-MINI'>"+data[i].taglist[j].tag+"</span>")
                }
                if(data[i].isshare==1){

                    $("#photowater"+(i%3)).find("a[name='share']").css("color", "#412ccc");
                }
                if(data[i].isclick==1){
                    $("#photowater"+(i%3)).find("a[name='click']").css("color", "#412ccc");
                }
            }

    }
    function  showmodal(i,type) {
        $("#modal-demo").modal("show");
        $("#modalbody").empty();
        photoadd(photolist[i],$("#modalbody"));


    }


</script>

<script>
    $("#upload").click(function () {
        if("{:session('user_id')}"){
            var fd= new FormData();
            fd.append('upload_file', $("#file-2")[0].files[0]);
            fd.append('user_name',"{:session('user_id')}");
            alert($("#file-2")[0].files[0]);
            $.ajax({
                type:'POST',
                url:"{:url('photo/uploadimg')}",
                processData: false,
                contentType: false,
                data:fd,
                success:function (data) {
                    alert(data.img);
                    alert(data.img1);
                }
            })}
        else {
            $.Huimodalalert("请先登录",1000);
        }

    })

</script>
<!--/此乃百度统计代码，请自行删除-->
</body>
</html>