<!--_meta 作为公共模版分离出去-->
{include file="public/meta" /}
<link rel="stylesheet" type="text/css" href="__STATIC__/static/h-ui/css/index.css" />
<body>
<!--_header 作为公共模版分离出去-->
{include file="public/head" /}
<div class = "mainbody" style="    margin-top: 37px;">
            <div class="rollpic cl " style="z-index: -1">

                <div class="rollpicshow">
                    <ul>
                        <li style="background-image: url(__STATIC__/static/h-ui/images/background/indexcarouse/banner7.jpg);
                         width:1680px ;height:430px;z-index: -1;"></li>
                        <li style="background-image: url(__STATIC__/static/h-ui/images/background/indexcarouse/banner8.jpg);
                         width:1680px ;height:430px;z-index: -1;"></li>
                        <li style="background-image: url(__STATIC__/static/h-ui/images/background/indexcarouse/banner9.jpg);
                         width:1680px ;height:430px;z-index: -1;"></li>
                        <li style="background-image: url(__STATIC__/static/h-ui/images/background/indexcarouse/banner10.jpg);
                         width:1680px ;height:430px;z-index: -1;"></li>
                    </ul>
                </div>

            </div>

        <div class="search">
        <input type="text" id="txt_Keyword"  placeholder="搜索您喜欢的图片" autocomplete="off">
            <span ><a class="searchbt" href="javascript:void(0);" onclick="SearchImg()" >
                        <img style="margin-top: 11px; margin-left: 13px;" src="__STATIC__/static/h-ui/images/background/indexcarouse/banner_search.png"></a></span>
        </div>
    <br>
    <br>
    <div class="main" style="margin: 0 auto; width: 1263px;">

        <div style="width: 1263px; margin: 0 auto">
            <div id="tab">
                <div class="">
                    <!--旅游开始-->
                    <div class="cur">
                        <p>
                            <a href="http://travel.quanjing.com"  style="cursor:pointer;font-size: 17px;">
                               <i class="Hui-iconfont">&#xe625;</i>全部图片</a>
                            <a href="" style="font-size:18px;float:right; padding-top: 15px;" onclick="openSearchByKey('旅游')" title="查看更多旅行图片">更多&gt;</a>

                        </p>
                        <table width="1263" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>
                                    <table border="0" cellspacing="0" cellpadding="0">
                                        <tbody><tr>
                                            <td class="hover_scale">
                                                <a class="default-a-img media media " onclick="clickimg('旅行')"  href="#">
                                                    <img src="__STATIC__/static/h-ui/images/background/tagphoto/lx1.png" width="598" height="215">

                                                </a>
                                                <div class="media" style="position: absolute;margin-top: -162px;margin-left: 192px;color: white" ><h1 style="letter-spacing: 75px">旅行</h1>
                                                </div>
                                            </td>
                                            <td width="5">
                                            </td>
                                            <td class="hover_scale">
                                                <a class="default-a-img media"  onclick="clickimg('风景')" href="#">
                                                    <img src="__STATIC__/static/h-ui/images/background/tagphoto/ms2.png" width="418" height="215">

                                                </a>
                                                <div class="media" style="position: absolute; margin-left: 145px;margin-top: -150px;color: white;"><h1 style="letter-spacing: 75px">风景</h1>
                                                </div>

                                            </td>
                                            <td width="5">
                                            </td>
                                        </tr>
                                        </tbody></table>
                                </td>
                                <td rowspan="3" class="hover_scale">
                                    <a class="default-a-img media"  onclick="clickimg('人文')" href="#">
                                        <img src="__STATIC__/static/h-ui/images/background/tagphoto/rm5.png" width="237" height="435">


                    </a>
                                    <div class="media"  style="position: absolute;margin-top: -261px;margin-left: 49px;color: white" ><h1 style="letter-spacing: 75px">人文</h1>
                                    </div>
                    </td>
                    </tr>
                    <tr>
                        <td height="5">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table border="0" cellspacing="0" cellpadding="0">
                                <tbody><tr>
                                    <td class="hover_scale">
                                        <a class="default-a-img media"  onclick="clickimg('美食')" href="#">
                                            <img src="__STATIC__/static/h-ui/images/background/tagphoto/ss(2).png" width="417" height="215">

                                        </a>
                                        <div class="media"  style="position: absolute;margin-top: -162px;margin-left: 124px;color: white" ><h1 style="letter-spacing: 75px">美食</h1>
                                        </div>
                                    </td>
                                    <td width="5">
                                    </td>
                                    <td class="hover_scale">
                                        <a class="default-a-img media"  href="#" onclick="clickimg('婚纱')">
                                            <img src="__STATIC__/static/h-ui/images/background/tagphoto/ss(2).png" width="599" height="215">

                                        </a>
                                        <div class="media" style="position: absolute;margin-top: -162px;margin-left: 240px;color: white"  ><h1 style="letter-spacing: 75px">婚纱</h1>
                                        </div>
                                    </td>
                                    <td width="5">
                                    </td>
                                </tr>
                                </tbody></table>
                        </td>
                    </tr>
                    </tbody></table>

</div>
<!--旅游结束-->
</div>
</div>
</div>
</div>

</div>
<footer class="footer mt-20">
<div class="container">
<nav class="footer-nav">
<a target="_blank" href="http://www.h-ui.net/aboutHui.shtml">关于H-ui</a>
<span class="pipe">|</span>
<a target="_blank" href="http://www.h-ui.net/copyright.shtml">软件著作权</a>
<span class="pipe">|</span>
<a target="_blank" href="http://www.h-ui.net/juanzeng.shtml">感谢捐赠</a>
</nav>
<p>Copyright &copy;2013-2017 H-ui.net All Rights Reserved. <br>
<a rel="nofollow" target="_blank" href="http://www.miitbeian.gov.cn/">京ICP备15015336号-1</a>
<br>
未经允许，禁止转载、抄袭、镜像<br>
用心做站，做不一样的站</p>
</div>
</footer>





<!--普通弹出层-->
<script type="text/javascript" src="__STATIC__/lib/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/lib/layer/2.4/layer.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/head.js"></script>
<script type="text/javascript" src="__STATIC__/static/h-ui/js/jcarousellite.min.js"></script>
<!--/_footer /作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">

</script>
<!--/请在上方写此页面业务相关的脚本-->
{include file="public/headjs" /}

<script>
    function  clickimg(name) {
        window,location.href=encodeURI("../photo/photocenter.html?"+name+"");
    }
    function  SearchImg() {
        if($("#txt_Keyword").val()!="") {
            var name = $("#txt_Keyword").val();
            window, location.href = encodeURI("../photo/photocenter.html?" + name + "");
        }
        else {
            $.Huimodalalert("输入为空","1000");
        }
    }
    $("#upload").click(function () {
        if("{:session('user_id')}"){
        var fd= new FormData();
            fd.append('upload_file', $("#file-2")[0].files[0]);
            fd.append('user_name',"{:session('user_id')}");
         alert($("#file-2")[0].files[0]);
        $.ajax({
            type:'POST',
            url:"{:url('photo/uploadimg')}",
            processData: false,
            contentType: false,
            data:fd,
            success:function (data) {
                alert(data.img);
                alert(data.img1);
            }
        })}
        else {
            $.Huimodalalert("请先登录",1000);
        }

    })
    $(function(){
        $(".rollpicshow").jCarouselLite({
            auto: 2500, /*自动播放间隔时间*/
            speed: 1500, /*速度*/
            btnNext:".next",/*向前滚动*/
            btnPrev:".prev",/*向后滚动*/
            visible:1 /*显示数量*/
        })});
</script>
<!--/此乃百度统计代码，请自行删除-->
</body>
</html>